body
{
    background: #F6F6F6;
    margin: 0 0 0 0;
    font-size: 0.85em;
}
#content-wrapper
{
    width: 100%;
    background: #F6F6F6;
    margin: 0 0 0 0;
}
#menu
{
    float: left;
    width: 176px;
    height: 100%;
    text-align: center;
    font-size: small;
    padding: 10px 2px 2px 2px;
}
#user-line
{
    text-align: right;
    margin: 10px 20px 10px
}

#content
{
    margin: 0 0 0 176px;
    padding: 24px 24px 24px 24px;
    background: white;
    height: 100%;
    border-top: 1px solid #A7D7F9;
    border-left: 1px solid #A7D7F9;
    border-bottom: 1px solid #A7D7F9;
} 
h1
{
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: normal;
}
h2
{
    font-size: 1.45em;
    font-weight: normal;
    display: inline;
    margin:0 .5em 0 0;
}
h3
{
    font-size: 132%;
}

hr
{
    height:1px;
    color:#aaa;
    background-color:#aaa;
    border:0;
    margin:.1em 0 0.2em;
}
#menu-content
{
    margin: 50px 10px 0 27px;
    text-align: left;
}
#menu-item
{
    margin-bottom: 5px;
}
a
{
    color: #0645AD;
    text-decoration: none;
}
a:visited, a:active
{
    color: #08008C; 
}
a.ext
{
    color: #36B;
}
a.ext:visited
{
    color: #636;
}
table
{
    margin: 1em 0;
    border-collapse:collapse;
}
th
{
    border-bottom: 2px solid #555;
    padding: 5px 5px 5px 5px;
}
td
{
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #DDD;
    text-align: center;
}
ul
{
    padding-left: 0.5em;
    list-style-type: none;
}
ul li
{
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Vector-bullet-icon.png) no-repeat 0% 0%;
    padding:0 0 4px 14px;
}
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }
table th.sort-header:after
{
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
}
table th.sort-header:hover:after
{
  visibility:visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after
{
  visibility:visible;
  opacity:0.4;
}
table th.sort-up:after
{
  border-bottom:none;
  border-width:4px 4px 0;
}
form.actions
{
  display: table;
  text-align: right;
}
form>div
{
  margin-top: 1em;
}
input[type="text"], input[type="radio"], select
{
  margin-left: 10px;
  border:1px solid #A7D7F9;
  background-color:#F6F6F6;
}
label
{
  margin-top: 2px;
  font-weight: bold;
  color: #252;
}
input[type="submit"], input[type="button"]
{
  font-size: 16px;
  border: 0;
  color: #fff;
  background-color: #05a;
  padding: 5px 5px 5px 5px;
  box-shadow: 4px 4px 3px #aaa
}
input[type="submit"]:hover, input[type="button"]:hover
{
  cursor: pointer
}
code
{
  font: bold 1.3em monospace;
  color: #585;
}
svg.graph {
  height: 270px;
  width: 800px;
  background-color: #fafafa;
  border: 1px solid #eee;
}
svg.grid {
  stroke: #eeeeee;
  stroke-width: 1;
}
