<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{{ title }}</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
        <script src="{{ url_for('static', filename='tablesort.min.js') }}"></script>
        <script src="{{ url_for('static', filename='tablesort.number.js') }}"></script>
{% block head %}{% endblock %}
    </head>
    <body>
        <div id="content-wrapper">
            <div id="menu">
{#-###  MENU  ####}
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
<div style="font:32px bold monospace; color: #555">wmopbot</div>
                <div id="menu-content">
<div id="menu-item"><a href="{{ url_for('index') }}">Main page</a></div>
{%- if  userType in ('gc', 'dev') %}
<div id="menu-item"><a href="{{ url_for('cloakqueue') }}">Cloak queue</a></div>
{%- endif %}
<div id="menu-item"><a href="{{ url_for('actions') }}">Actions log</a></div>
<div id="menu-item"><a href="{{ url_for('info') }}">Info</a></div>
<div id="menu-item"><a href="{{ url_for('channels') }}">All channels</a></div>
<div id="menu-item"><a href="{{ url_for('botlists') }}">Lists</a></div>
<div id="menu-item"><a href="{{ url_for('index') }}help">Help</a></div>
<div style="border-top: 1px solid #ddd; width: 80px; margin: 10px 0 8px 0"></div>
<div style="color: #777; margin: 0 0 5px -10px">Channels you are op</div>
{%- for chan in userChans %}
<div id="menu-item"><a href="{{ url_for('info', target=chan) }}">{{ chan }}</a></div>
{%- endfor -%}
{# END MENU #}
                </div>
            </div>
            <div id="user-line"><a href="{{ url_for('info', target=user)}}">{{ user }}</a> &nbsp; &nbsp; <a href="{{ url_for('logout')}}">logout</a></div>
            <div id="content">
{%- if title %}
<h1>{{ title }}</h1>
<hr/> Tool Labs – wmopbot, IRC bot for Wikimedia channels operators <br/><br/>
{%- endif %}
{% block content %}{{ content|safe }}{% endblock %}
{% if warn %}<p style="color:#500">{{ warn|safe }}</p>{% endif %}

            </div>
       </div>
       <div style="float: right; margin: 10px 8px; font-size:x-small">
Made with <a href="http://flask.pocoo.org/">Flask</a>
       </div>
       <div style="text-align:center; font-size:x-small; margin: 10px 10px 12px 181px">
The <a href="https://phabricator.wikimedia.org/source/tool-wmopbot/">source</a> of this tool is available in Diffusion.
       </div>
    </body>
</html>

 
