{% extends "base.html" %}
{% block head -%}
{% if graph %}        <script src="{{ url_for('static', filename='graph.js') }}"></script>{% endif %}
{%- endblock %}
{% block content %}
{% if graph -%}
<svg id="graph2" class="graph" onload="line7days(this, {{ graph }});"></svg>
<br><br>
{%- endif %}
{% set update = chan['config'].get('update', {}) %}
<h2>Channel configuration</h2><hr>
{%- if 'cs/irc' in chan['config'] %}
    {%- set config  = chan['config']['cs/irc']  %}
<ul>
    {%- if 'mode' in config %}
<li> Mode: <b>{{ config ['mode'] }}</b>
        {%- if 'mode' in update %} &nbsp; <small>(last database update: {{ update['mode']|ftime }})</small>{% endif %}
    {%- endif %}
    {%- if 'created' in config %}
<li> Time created: <b>{{ config ['created']|ftime }}</b>
        {%- if 'mode' in update %} &nbsp; <small>(last database update: {{ update['mode']|ftime }})</small>{% endif %}
    {%- endif %}
    {%- if 'csflags' in config %}
<li> ChanServ flags: <b>{{ config ['csflags'] }}</b>
        {%- if 'csinfo' in update %} &nbsp; <small>(last database update: {{ update['csinfo']|ftime }})</small>{% endif %}
    {%- endif %}
    {%- if 'mlock' in config %}
<li> Mode Lock: <b>{{ config ['mlock'] }}</b>
        {%- if 'csinfo' in update %} &nbsp; <small>(last database update: {{ update['csinfo']|ftime }})</small>{% endif %}
    {%- endif %}
    {%- if 'registered' in config %}
<li> Registered: <b>{{ config ['registered'] }}</b>
        {%- if 'csinfo' in update %} &nbsp; <small>(last database update: {{ update['csinfo']|ftime }})</small>{% endif %}
    {%- endif %}
</ul>
{%- elif update.get('error') == 'no such channel' %}
<p style="color:#900"><big>This channel does not exist
    {%- if update.get('cserror') == 'not registered' %}, and is not registered{% endif -%}
.</big></p>
{%- elif update.get('cserror') == 'not registered' %}
<p style="color:#900"><big>This channel is not registered.<big></p>
{%- else %}
<p>Modes and ChanServ info is unknown for this channel</p>
{%- endif %}

<h2>Last actions</h2><hr>
{% if actions %}
<p>See the <a href="{{ url_for('actions') }}?channel={{ channel.replace('#', '%23') }}">channel actions with filters</a></p>
<table>
    <tr><th>User</th><th>Action</th><th>Target</th><th>Args</th><th>Date-time</th></tr>
{% for id, user, channel, action, target, args, dt in actions -%}
    <tr>
        <td>{{ user.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td>
        <td style="background-color: #F8F8F8">{{ action }}</td>
        <td>{{ target }}</td>
        <td style="background-color: #F8F8F8">{{ args|utf8 }}</td>
        <td>{{ dt and dt.isoformat(' ') or '' }}</td>
    </tr>
{% endfor -%}
</table>
{% else %}
<p>No recent actions</p>
{% endif %}

<h2>Access list</h2><hr>
{%- if 'access' in chan %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Entry</th><th>Flags</th><th>Comment</th></tr>
{% for entry, args in chan['access'].iteritems() -%}
    <tr><td>{{ entry }}</td><td>+{{ args['flags'] }}{% if 'template' in args %} ({{ args['template'] }}){% endif -%}
    </td><td>{{ args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{%- if 'access' in chan['config'].get('update', {}) %}
<p><small>last database update: {{ chan['config']['update']['access']|ftime }}</small></p>
{%- endif %}
{% else -%}
<p>Channel not registered with ChanServ</p>
{% endif %}

<h2>Ban list</h2><hr>
{%- if 'ban' in chan %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Ban</th><th>Author</th><th>Time</th><th>Expiry</th><th>Comment</th></tr>
{% for ban, args in chan['ban'].iteritems() -%}
    <tr><td>{{ ban }}</td><td>{{ args['user'] }}</td><td>{{ args['time']|ftime }}</td><td>
    {{- 'expiry' in args and (args['expiry'] == 'p' and 'permanent' or args['expiry']|ftime) or '' }}</td><td>
    {{- args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{%- if 'ban' in chan['config'].get('update', {}) %}
<p><small>last database update: {{ chan['config']['update']['ban']|ftime }}</small></p>
{%- endif %}
{% else -%}
<p>No entries in ban list</p>
{% endif %}

<h2>Quiet list</h2><hr>
{%- if 'quiet' in chan %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Quiet</th><th>Author</th><th>Time</th><th>Expiry</th><th>Comment</th></tr>
{% for quiet, args in chan['quiet'].iteritems() -%}
    <tr><td>{{ quiet }}</td><td>{{ args['user'] }}</td><td>{{ args['time']|ftime }}</td><td>
    {{- 'expiry' in args and (args['expiry'] == 'p' and 'permanent' or args['expiry']|ftime) or '' }}</td><td>
    {{- args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{%- if 'quiet' in chan['config'].get('update', {}) %}
<p><small>last database update: {{ chan['config']['update']['quiet']|ftime }}</small></p>
{%- endif %}
{% else -%}
<p>No entries in quiet list</p>
{% endif %}
{% endblock %} 
