{% extends "base.html" %}
{% block head %}
        <script>
function setstatus(id){
  var ajax = new XMLHttpRequest();
  ajax.open('POST', '{{ url_for('setcloak') }}');
  ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  ajax.onreadystatechange = function () {
    if (this.readyState == 4){
      if (this.status == 200){
        console.log(this.responseText);
        if (this.responseText.substring(0, 4) == '(ok)'){
          var s = this.responseText.substring(4).split(' ');
          var t = s.splice(-2, 2);
          document.getElementById('h' + id).innerHTML += '<br>' + s.join(' ') + ' <small> ' + t.join(' ') + '</small>';
          var newstatus = s[1];
          document.getElementById('status' + id).innerHTML = (newstatus)
        } else {
          alert(this.responseText);
        }
      }
      else alert('Status error: ' + String(this.status));
    }
  }
  var _status = document.getElementById('s' + id).value;
  var params = 'id=' + encodeURIComponent(id) + '&status=' + encodeURIComponent(_status);
  ajax.send(params);
}
{% if usergroup == 'gc' %}
function editcloak(id, a){
  if (a.innerHTML == 'edit'){
    var input = document.createElement('input');
    input.type = 'text';
    input.style.backgroundColor = '#fff';
    input.value = a.getAttribute('cloak');
    a.parentNode.replaceChild(input, a.previousSibling);
    a.innerHTML = 'save';
  } else if (a.innerHTML == 'save' && a.previousSibling.nodeName == 'INPUT'){
    var ajax = new XMLHttpRequest();
    ajax.open('POST', '{{ url_for('setcloak') }}');
    ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    ajax.onreadystatechange = function () {
      if (this.readyState == 4){
        if (this.status == 200){
          console.log(this.responseText);
          if (this.responseText.substring(0, 4) == '(ok)'){
            var r = this.responseText.substring(4).split('\n');
            var text = document.createTextNode('edit: ' + r[0] + ' ');
            a.parentNode.replaceChild(text, a.previousSibling);
            a.innerHTML = 'edit';
            a.setAttribute('cloak', r[0]);
            var hist = document.getElementById('h' + id);
            var histparts = hist.innerHTML.split('<br>');
            var s = r[1].split(' ');
            var t = s.splice(-2, 2);
            var lasthist = histparts.splice(-1, 1);
            if (lasthist[0].startsWith(s.join(' '))){
              hist.innerHTML = histparts.join('<br>') + '<br>' + s.join(' ') + ' <small> ' + t.join(' ') + '</small>';
            } else {
              hist.innerHTML += '<br>' + s.join(' ') + ' <small> ' + t.join(' ') + '</small>';
            }
          } else {
            alert(this.responseText);
          }
        }
        else alert('Status error: ' + String(this.status));
      }
    }
    var params = 'id=' + id + '&cloak=' + encodeURIComponent(a.previousSibling.value);
    console.log(params);
    ajax.send(params);
  }
}
{% endif %}
        </script>
{% endblock %}
{% block content %}
<p>Filter staus: <select>
    <option>new</option>
    <option>approved</option>
    <option>rejected</option>
    <option>cloaked</option>
    </select> 
    <a href="javascript:;" onclick="location.href=location.pathname+'?status='+this.previousElementSibling.value">go</a>
</p>
<p>Last {{ limit }} {{ queuestatus }} cloak requests:</p>
<table>
{# cloak: cl_id (key), cl_user (90), cl_ircacc (16), cl_wikiacc (tinytext), cl_ircbot (16), cl_type(enum), cl_cloak (50),
         cl_cloak_edit, cl_status (10), cl_timestamp (datetime), cl_data (text) #}
    <tr><th>#</th><th>Requester user</th><th>Accounts</th><th>Cloak requested</th><th>Status</th><th>History</th</tr>
{% for id, requser, irc, wiki, bot, _type, cloak, editcloak, status, ts, data in requests -%}
    <tr>
        <td><b>{{ id }}</b></td>
        <td style="background-color: #F8F8F8">{{ requser.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td>
        <td>irc: {{ irc }}<br>wiki: {{ wiki }}{%- if bot %}<br>bot: {{ bot }}{% endif %}</td>
        <td style="background-color: #F8F8F8" id="c{{ id }}">{{ _type }} cloak<br>request: {{ cloak }}<span>
            {%- if usergroup == 'gc' %}<br>{{ editcloak and "edited: " + editcloak or "" }}{#
            #} <a href="javascript:;" cloak="{{ editcloak or cloak }}" onclick="editcloak('{{ id }}', this)">edit</a>{%-
            else %}{%- if editcloak -%}<br>edited: {{ editcloak }}{% endif %}{% endif %}</span></td>
        <td id="status{{ id }}">{{ status }}</td>
        <td style="background-color: #F8F8F8; white-space: nowrap; border-bottom: 2px solid #bbb" rowspan=2>
            <div id="h{{ id }}">{% for line in data.split('\n')[0].split(',') %}{% set line = line.split() -%}
            {{ line[:-2]|join(' ') }} <small> {{ line[-2:]|join(' ') }}</small>{% if not loop.last %}<br>{% endif %}
            {%- endfor %}</div>
            {{ user -}}:
            <select style="margin-left: 0; background-color: #fff" id="s{{ id }}">
            <option value="approved"{% if usergroup != 'gc' %} disabled{% endif %}>approved</option>
            <option value="rejected"{% if usergroup != 'gc' %} disabled{% endif %}>rejected</option>
            <option value="cloaked">cloaked</option>
            </select><a href="javascript:;" onclick="setstatus('{{ id }}', this.parentNode)">save</a></td>
    </tr>
    <tr><td colspan=5 id="d{{ id }}" style="border-bottom: 2px solid #bbb">
{%- for line in data.split('\n')[1:] %}
        {{ line }}{% if not loop.last %}<br>{% endif %}
{%- endfor -%}{% if status == 'approved' %}<br>
Command to freenode staffs apply the cloak: <b>/msg NickServ VHOST {{ irc }} ON {{ editcloak or cloak }}</b>{% endif %}
   </td></tr>
{% endfor -%}
</table>
{% endblock %} 
