{% extends "base.html" %}
{% block content %}
<p><b>wmopbot</b> is a bot that helps monitor Wikimedia channels. It warns channel operators in #wikimedia-ops 
and #wikimedia-opbot about problems like someone spaming or flooding channel, when someone call ops with !ops command, 
or when an user global banned or with IP blocked in some wiki joins a channel.
It also provide some commands to show info about banned and wiki-blocked users, as to help mantain the channel ban list.</p>
<h2>Join, part and quit</h2><hr>
<p>Use restrictions: only Wikimedia ops can use these comands in #wikimedia-ops, #wikimedia-ops-internal 
or #wikimedia-opbot.</p>

<h3>!join <span style="color: gray">&lt;#channel&gt;</span></h3>
<p>Makes wmopbot join a channel. The bot only join channels listed in 
<a href="https://meta.wikimedia.org/wiki/IRC/Channels">meta:IRC/Channels</a> or channels with an Wikimedia prefix 
(e.g. #wikimedia-*, #wikipedia-*, etc) and registered with ChanServ.</p>

<h3>!part <span style="color: gray">&lt;#channel&gt;</span></h3>
<p>Makes wmopbot part a channel and remove the channel from the list of channels to join when the bot restart.</p>

<h3>!stop</h3>
<p>Makes wmopbot quit IRC and not restart. Use this command only if the bot is having issues in many channels. 
If the problem is only in one or a few channels, it is preferible to use !part #channel.</p>

<h3>!restart</h3>
<p>Makes wmopbot quit IRC and restart.</p>

<h2>Check bans and wiki block</h2><hr>
<p>Use restrictions: only Wikimedia ops can use these comands in #wikimedia-ops, #wikimedia-ops-internal, 
#wikimedia-opbot, or in private message (without ! prefix).</p>

<h3>!blocks <span style="color: gray">&lt;target&gt; [&lt;wiki&gt;]</span></h3>
<p>Searches for onwiki blocks applied to the IP of a user (target = user nick), an IP (target = IP) or all users in a specific 
channel (target = #channel). The second parameter is optional, which if given it searches only for a block in that wiki, or global blocks if the parameter is global.</p>

<h3>!checkban <span style="color: gray">&lt;target&gt;</span></h3>
<p>Searches for bans applied to a user (target = user nick), a user mask (target = mask) or all users in a specific 
channel (target = #channel).</p>

<h3>!redundant <span style="color: gray">&lt;#channel&gt;</span></h3>
<p>Lists all bans in a channel ban list that are reduntant. A ban is considered redundant if some ban in the channel's ban 
list or ban lists of other channels banned with a $j cover the ban. For example, abcdefg!*@* is covered by ab*!*@*.</p>

<h3>!reload <span style="color: gray">&lt;#channel&gt; [access|ban|quiet|eir]</span></h3>
<p>Force wmopbot to reload the access, ban, quiet and/or eir lists. If the type of list is not given, all lists are reloaded. 
The lists are automatic reloaded every 30 days when the command is not used.</p>

<h2>Lists</h2><hr>
<p>Use restrictions: only Wikimedia ops can use these comands in #wikimedia-ops, #wikimedia-ops-internal, 
#wikimedia-opbot.</p>

<h3>!botlist <span style="color: gray">[add|del] &lt;mask&gt;</span></h3>
<p>Add a bot that don't use Wikimedia or Freenode bot cloaks to the bot list. Bots are totally ignored.</p>
<p>To add usermasks to the bot list use in IRC <code>!botlist add &lt;mask&gt;</code> or <code>!botlist &lt;mask&gt;
</code> to add new masks and <code>!botlist del &lt;mask&gt;</code> to remove.</p>

<h3>!exempt <span style="color: gray">[add|del] &lt;mask&gt;</span></h3>
<p>Exempted users do not trigger joining warns (wikiblocks, global banned) and message warns (flood, blacklisted 
term), but their messages are still counted as human user messages to generate the channel messages graphs in this 
interface.</p>
<p>To add usermasks to the exempt list use in IRC <code>!exempt add &lt;mask&gt;</code> or <code>!exempt &lt;mask&gt;
</code> to add new masks and <code>!exempt del &lt;mask&gt;</code> to remove.</p>

<h3>!track <span style="color: gray">[add|del] &lt;mask&gt; [comment]</span></h3>
<p>Tracked users trigger warns in #wikimedia-opbot when they join a channel, part a channel or quit</p>
<p>To add usermasks to the track list use in IRC <code>!track add &lt;mask&gt;</code> or <code>!track &lt;mask&gt;
</code> to add new masks and <code>!track del &lt;mask&gt;</code> to remove. Optionally you can add a comment after 
the mask, the comment will be shown in the warn.</p>

<h3>!bl <span style="color: gray">[add|del] &lt;term&gt;</span></h3>
<p>When an non Wikimedia user say a blacklisted term and the user has score &lt; 2 (unknown/new user), it generate a warn.</p>
<p>To add terms to the black list use in IRC <code>!bl add &lt;mask&gt;</code> or <code>!bl &lt;mask&gt;
</code> to add new terms and <code>!bl del &lt;mask&gt;</code> to remove.</p>

<p><big>See the lists in the <a href="{{ url_for('botlists') }}">lists page</a>.</big></p>

<h2>Warns</h2><hr>
<p>The bot warns in the folowing situations:</p>
<ul>
<li>When an unknown user with a blocked IP in some wiki joins a channel. (#wikimedia-opbot)
<li>When a globally banned user joins a channel. (#wikimedia-opbot and #wikimedia-ops)
<li>When a user is killed or k-lined. (#wikimedia-opbot and #wikimedia-ops)
<li>When a user is kickbanned. (#wikimedia-opbot)
<li>When a user floods the channel (10 msg in 20 sec). (#wikimedia-opbot)
<li>When a user send notice to channel. (#wikimedia-opbot)
<li>When an unaffiliated user sends a message that contains a term in the 
<a href="{{ url_for('botlists') }}">black list</a>. (#wikimedia-opbot to known and unknown users and #wikimedia-ops 
only for for unknown)
</ul>

<h3>Known and unknown users</h3>
<p>To the bot, all users have a score. Every 10 minutes 1 point is added to all users the bot see in that moment. 
This is used to not trigger some type of a warning to known users. 
Wikiblock warns are not trigged to users with score &gt; 10, and blacklisted term warns to users with score &gt; 1</p>

<h3>Ping</h3>
<p>To be pinged by the warns you need to configure it using the following command:</p>
<ul>
<li><code>/msg wmopbot ping on</code> to enable all pings
<li><code>/msg wmopbot ping off</code> to disable all pings
<li><code>/msg wmopbot ping &lt;flags&gt;</code> to configure flags to ping only on specific warns
<ul>
<li><b>+b</b> for blacklisted terms and repeated character warns
<li><b>+g</b> for global banned users warns
<li><b>+s</b> for flooding, channel notice and join-say-part spam warns
<li><b>+t</b> for tracked and recent kickbanned users warns
<li><b>+w</b> for wiki blocked IP warns
<li><b>+n</b> to disable !ops trigger pings (opt-out)
</ul>
</ul>
<p>Examples: <code>/msg wmopbot ping +bs </code> to add b and s flags, <code>/msg wmopbot ping -w </code> to remove w 
flag.</p>
<p>Once configured, you will only be pinged if the type of warn generates a ping and if you are an operator in the target 
channel of the warn. 
The bot sees the account to ping, so the ping uses the nick (or nicks) you are using at the moment. 
#wikimedia-overflow warns don't generate pings.</p>

<h2>Query bot database</h2><hr>
<p>Use restrictions: only Wikimedia ops can use these comands in #wikimedia-ops, #wikimedia-ops-internal, 
#wikimedia-opbot, or in private message (without ! prefix).</p>

<h3>!where <span style="color: gray">[is] &lt;nick|mask&gt;</span></h3>
<p>Lists the channels where the user is in. This command does not work when the target is a Wikimedia operator or has 
a Wikimedia cloak</p>
<p><code>!where &lt;nick&gt; is banned</code> is an alias to <code>!checkban &lt;nick&gt;</code></p>

<h3>!whois <span style="color: gray">&lt;nick|IP&gt;</span></h3>
<p>Show some info about the user, including the IP and ISP (if not cloaked), when the user spoke for the last 
time and the channels where the user is on. When quering an IP it will show the ISP and location of the IP. When 
quering an wikimedia op it will show where the user is op.</p>

<h3>!list <span style="color: gray">&lt;query&gt;</span> | !which <span style="color: gray">&lt;query&gt;</span> | !who <span style="color: gray">&lt;query&gt;</span></h3>
<p>Query the online users database. The command is developed to undertand natural language questions, so try to ask 
like you were asking a human (see the examples). This command accepts the following filters:</p>
<ul>
<li><b>identified|registered</b>: only registered users.
<li><b>affiliated</b>: only users with an affiliated cloak.
<li><b>talked</b>: only users which wmopbot saw talk.
<li><b>score </b>&lt;<b>&lt;|&gt;|=</b>&gt; &lt;<b>num</b>&gt;: only users with a score greater than (&gt;), 
less than (&lt;) or equal to a given number. Each 10 minutes wmopbot adds 1 point to the score of all users it sees at 
that moment, so low scores means unknown users.
<li><b>match</b> &lt;<b>mask</b>&gt;: only users that fits the given user mask
<li>[<b>flag</b>] <b>+</b>&lt;<b>flag</b>&gt; [<b>in </b>&lt;<b>#channel</b>&gt;]: only users that have the indicated 
flag in any of the searched channels, or if "in #channel" is indicated, only users with indicated flags in the indicated 
channel.
<li><b>account</b> &lt;<b>account</b>&gt;: only users with the indicated account
<li><b>ip</b> &lt;<b>IP|IP/CDIR</b>&gt;: only users with the indicated IP or IP/CDIR range.
<li><b>country</b> "&lt;<b>country</b>&gt;": only users whose the IP is from the indicated country, use quotation marks 
for country names with spaces.
<li><b>isp</b> "&lt;<b>ISP</b>&gt;": only users whose the IP is from the indicated ISP, use quotation marks for ISP with 
spaces.
<li><b>banned in </b>&lt;<b>#channel</b>&gt;: only users that are banned in the indicated channel.
<li><b>op in </b>&lt;<b>#channel</b>&gt;: only users that have +o in the indicated channel.
</ul>
<p>You can use more than one filter. Filter prefixed with "un", "non-", "not " or english contractions like "didn't " 
means the opposite of the filter, "unidentified" for example means only unregistered users.</p>
<p>Examples:<br>
<code>!list users in #wikipedia-en that are unregistered</code> list unregistered users in #wikipedia,<br>
<code>!who is not identified in -en</code> the same query as above said in a different way,<br>
<code>!which users in #wikipedia have score &lt; 10, haven't talked and is not affiliated </code> list users in 
#wikipedia with score less than 10, which never talked and don't have an affiliated cloak.<br>
<code>!who in #wikipedia has +f?</code> list users in #wikipedia with flag +f in access list.<br>
<code>!who in -overflow is banned in -bans?</code> list users in #wikimedia-overflow taht are banned in 
#wikimedia-bans.</p>

<h3>!whois <span style="color: gray">&lt;nick|IP|domain&gt;</span></h3>
<p>Return info about the user, IP, or domain. When the paramenter is a online nick, it return account, realname, IP, IP 
country, IP ISP, and channels where the user is, if the user is op is some Wikimedia channel, it only return the account 
and the channels where the user is op. When the paramenter is a IP or a domain, it will return the IP, City, region, 
Country and ISP. You can use the prefix "hex:" to indicate an hexadecimal IP (e.g. hex:1a2b3c4d is expanded to 
26.43.60.77).</p>

<h2>Kickbans</h2><hr>
<p>wmopbot can kickban users if it has the +o flag in the channel access list 
(<a href="{{ url_for('info', target='wmopbot') }}">see the channels</a>). There are two ways to use the kickban command:
</p>

<h3>!kb <span style="color: gray">&lt;nick&gt;</span></h3>
<p>Channels operators can use this command in the channel to kickban an user.</p>

<h3>!kb <span style="color: gray">&lt;#channel&gt; &lt;nick&gt;</span></h3>
<p>Any Wikimedia operator (+o in #wikimedia-ops) can use this command in #wikimedia-ops, #wikimedia-ops-internal or 
#wikimedia-opbot to propose to kickban an user in a channel where wmopbot has +o flag. After propose a kickban, other two 
Wikimedia ops have to type <code>!support</code> to the kickban be applied. So when there are not channel operators 
online, three Wikimedia ops can kickban a troll from a channel where they are not op.</p>
{% endblock %}
