{% extends "base.html" %}
{% block content %}
<p>Currently are available info about channels, user accounts and user masks. Is under development info about IPs.</p>
<p>Info about:
<input type="text" id="info" size=25 onkeydown="if(event.keyCode==13)location.href='{{ url_for('info') -}}
'+'/'+encodeURIComponent(this.value)"></p>
{% endblock %} 
