<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{{ title }}</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div id="content-wrapper">
            <div id="menu">
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
<div style="font:32px bold monospace; color: #555">wmopbot</div>
            </div>
            <div id="content" style="border-top: 0; border-bottom: 0; height: 100vh">
<div style="text-align: center; margin-top:30vh">
{% if error %}<p style="color: #700">{{ error }}</p>{% endif %}
    <p>This web interface is restricted to Wikimedia channels operators.<br/></p>
    <p>Use the following command in IRC to confirm your user and click login:<br/><br/><p/>
    <span style="font: 25px bold monospace; color: #888">/msg wmopbot login {{ token }}</span><br/><br/>
    <form action="{{ url_for('login') }}" method="post">
    {%- if returnto %}<input type="hidden" name="returnto" value="{{ returnto }}">{% endif %}
    <input type="checkbox" name="permanent" value="yes"/> Remember login (for 30 days)<br/>
    <input type="submit" style="font-size: 16px; border: 0; color: #fff; background-color: #05a; padding: 5px 5px 5px 5px; margin-top: 10px" value="Login"/>
    <form>
</div>
           </div>
         </div>
    </body>
</html>
