{% extends "base.html" %}
{% block head -%}
{% if graph %}        <script src="{{ url_for('static', filename='graph.js') }}"></script>{% endif %}
{%- endblock %}
{% block content %}
{% if graph -%}
<svg id="graph2" class="graph" onload="line7days(this, {{ graph }});"></svg>
<br><br>
{%- endif %}
{% if online -%}
<p><b>wmopbot</b> is online in<span style="font: 1.3em monospace"> {% for c in online|sort -%}
<a href="{{ url_for('info') + '/' + c.replace('#', '%23') }}">{{ c }}</a>{% if loop.revindex > 2 %}, 
{% elif loop.revindex == 2 %} and 
{% endif %}{% endfor %}.</span></p>
{%- else -%}
<p><b>wmopbot</b> is offline.</p>
{%- endif %}
<h2>Relevant actions in the last 24h</h2><hr>
<table>
    <tr><th>User</th><th>Channel</th><th>Action</th><th>Target</th><th>Args</th><th>Date-time</th></tr>
{% for id, user, channel, action, target, args, dt in actions -%}
    <tr><td>{{ user.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td><td style="background-color: #F8F8F8">{{-
    channel }}</td><td>{{ action }}</td><td style="background-color: #F8F8F8">{{ target }}</td><td>{{-
    args }}</td><td style="background-color: #F8F8F8">{{ dt and dt.isoformat(' ') or '' }}</td></tr>
{% endfor -%}
</table>
{% endblock %} 
