<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Page not found</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div id="content-wrapper">
            <div id="menu">
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
<div style="font:32px bold monospace; color: #555">wmopbot</div>
            </div>
            <div id="content" style="border-top: 0; border-bottom: 0; height: 100vh">
<div style="text-align: center; margin-top:30vh; font: 30px monospace">
Page not found
</div>
           </div>
         </div>
    </body>
</html>
