{% extends "base.html" %}
{% block content %}
<h2>Redundant bans</h2><hr>
{%- if bans %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Ban</th><th>Covered by</th></tr>
{% for chan, ban, covered in bans -%}
    <tr>
        <td>{{ chan }}</td>
        <td style="background-color: #F8F8F8">{{ ban }}</td>
        <td>{{ covered }}</td>
    </tr>
{% endfor -%}
</table>
{% else -%}
<p>No redundant bans</p>
{% endif %}
<h2>Redundant quiets</h2><hr>
{%- if quiets %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Quiet</th><th>Covered by</th></tr>
{% for chan, quiet, covered in quiets -%}
    <tr>
        <td>{{ chan }}</td>
        <td style="background-color: #F8F8F8">{{ quiet }}</td>
        <td>{{ covered }}</td>
    </tr>
{% endfor -%}
</table>
{% else -%}
<p>No redundant bans</p>
{% endif %}
{% endblock %} 
