{% extends "base.html" %}
{% block content %}
<p>Info about:
<input type="text" id="info" size=25 onkeydown="if(event.keyCode==13)location.href='{{ url_for('info') -}}
'+'/'+encodeURIComponent(this.value)"></p>
<h2>Channels access</h2><hr>
{%- if access %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Flags</th><th>Comment</th></tr>
{% for chan, args in access -%}
    <tr><td>{{ chan }}</td><td style="background-color: #F8F8F8">+{{ args['flags'] }}{% if 'template' in args %} ({{ args['template'] }}){% endif -%}
    </td><td>{{ args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{% else -%}
<p>No access entries</p>
{% endif %}

<h2>Users</h2><hr>
{%- if users %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>User</th><th>IP</th><th>Realname</th><th>Score*</th><th>Seen last time</th><th>Extra</th></tr>
{% for full, account, ip, realname, seen, score, extra in users -%}
    <tr>
        <td>{{ full.replace('!', '<br>!').replace('@', '<br>@')|safe }}</td>
        <td style="background-color: #F8F8F8">{{ ip or "" }}</td>
        <td>{{ realname and realname.decode('utf-8') or "" }}</td>
        <td style="background-color: #F8F8F8">{{ score }}</td>
        <td>{{ seen.isoformat(' ') }}</td>
        <td style="background-color: #F8F8F8">{{ extra and extra.decode('utf-8').replace(':', ': ').replace(';', '; ') or "" }}</td>
    </tr>
{% endfor -%}
</table>
<p><small>* every 10 minutes wmopbot adds 1 point to the score of all users it sees at that moment, so low scores means 
unknown users.</small></p>
{% else -%}
<p>No users found with that account</p>
{% endif %}

<h2>Channel Bans</h2><hr>
{%- if bans %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Ban</th><th>Author</th><th>Time</th><th>Expiry</th><th>Comment</th></tr>
{% for chan, ban, args in bans -%}
    <tr><td>{{ chan }}</td><td>{{ ban }}</td><td>{{ args['user'] }}</td><td>{{ args['time']|ftime }}</td><td>
    {{- args.get('expiry', '') }}</td><td>{{ args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in channels ban lists</p>
{% endif %}

<h2>Channel Quiets</h2><hr>
{%- if quiets %}
<table class="wikitable", style="min-width: 80%">
    <tr><th>Channel</th><th>Ban</th><th>Author</th><th>Time</th><th>Expiry</th><th>Comment</th></tr>
{% for chan, quiet, args in quiets -%}
    <tr><td>{{ chan }}</td><td>{{ quiet }}</td><td>{{ args['user'] }}</td><td>{{ args['time']|ftime }}</td><td>
    {{- args.get('expiry', '') }}</td><td>{{ args.get('comment', '') }}</td></tr>
{% endfor -%}
</table>
{% else -%}
<p>No entries in channels quiet lists</p>
{% endif %}
{% endblock %} 
